<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="org.la.sample.webapp.controllers"/>

    <mvc:annotation-driven />

    <!-- CSS and JS are located in sub-directories under {webapps/this-application-root}/resources/theme -->
    <mvc:resources mapping="/resources/**" location="/resources/theme/" cache-period="31556926"/>

    <!--
     | Resolves view names returned by MVC handlers to JSPs
     |
     | http://static.springsource.org/spring/docs/3.1.x/reference/view.html#view-jsp-resolver
     +-->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/views/jsp/"
          p:suffix=".jsp" />

    <bean id="handlerMapping" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <property name="alwaysUseFullPath" value="true"/>
    </bean>


</beans>